
.img{
    height: 15vh;
    width: auto;
}

body {
    background-color: #FCFCFC;
}

.container {
    margin-top: 5vh;
    border: 1px solid #0000006d;
    border-radius: 3vh;
    /* height: 70vh; */
    padding: 1.2rem;
    display: flex;
    padding-left: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ladoD {
    margin-top: 2vh;
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input-radio{
    margin-top: 0.5rem;
    margin-right: 0.5rem;
}

.table-left{
    /* height: 25vh; */
    padding: 1.5rem;
    border-radius: 2vh;
    border: 1px solid #0000006d;
}

.input{
    display: flex;
    flex-direction: column;
}

.form-princ{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ladoE{
    display: flex;
    border: 1px solid #575656;
    border-radius: 3vh;
    margin: 2vh;
    overflow-y: auto;
    margin-left: 15%;
}

.ladoE::-webkit-scrollbar{
    border-radius: 5vh;
    width: 1vh;
}

.ladoE::-webkit-scrollbar-thumb{
    border-radius: 3vh;
    background-color: #04943C;
}

.divFinal{
    margin-top: 0.5rem;
    background-color: #575656;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 30vh;
    border-radius: 5vh;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
}
